<div>
  <p><%= current_year %></p>
  <p>Студент онлайн школы <%= link_to 'Thinknetica', 'https://thinknetica.com'  %> Иванов Егор</p>
  <p><%= github_url("rizh42", "RoR_Internship_TestGuru") %> данного проекта</p>
</div>